footer.page-footer {
  margin: 0;
}
footer.page-footer.mint
{
  background-color: #A7FCD0;
}
.mint
{
  background-color: #A7FCD0;
}
.mint-text
{
  color: #A7FCD0;
}
.collection .collection-item
{
  color: black;
  background-color: #A7FCD0;
  border-color:black;
}
.collection a.collection-item
{
  color: black;
}
[type="checkbox"]:checked+label:before
{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: inherit;
  background-color: white;
  padding-left: 5px;
  transition: inherit;
  -webkit-transition: inherit;
}
input[type=text]:focus:not([readonly])
{
  border: 2px solid black;
  border-bottom-color: black;
  border-bottom: 2px solid black;
  box-shadow: none;
}
label
{
  font-size: inherit;
  color:black;
  display: block;
}
.mintbtn:hover
{
  background-color: #A7FCD0;
  color: black;
}
.mintbtn
{
  color: #A7FCD0;
  background-color: black;
}
.submit-padding
{
  padding-top: 5px;
}
.collection
{
  box-shadow: 0 2px 2px 0 #212121, 0 1px 5px 0 #212121, 0 3px 1px -2px #212121;
  border: none;
}
.card-panel
{
  box-shadow: 0 2px 2px 0 #212121, 0 1px 5px 0 #212121, 0 3px 1px -2px #212121;
  border: none;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: white;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover
{
  color:gray;
  cursor: pointer;
}
h5.grey-underline
{
  border-bottom: #424242 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}
.card-panel h5
{
  border-bottom: #A7FCD0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.card .card-reveal
{
  overflow-y: hidden;
}
footer.page-footer
{
  padding-top: 5px;
}
.page-footer .container .row
{
  margin-bottom: 0px;
}
.page-footer p
{
  margin-bottom: 0px;
}
.mint-logo:hover
{
  fill: #424242;
}
.mint-logo-stroke:hover
{
  stroke: #424242;
}
.logo-text:hover
{
  cursor: default;
}