#The node_modules folder is a bit large, don't include that either
node_modules/*
#Don't include config.json to avoid showing bot token/api tokens
config.json
#Don't include the log
debug.log
#Don't include private files for https
lib/web/certificate.pem
lib/web/fullchain1.pem
lib/web/privkey1.pem
#Don't include the database
lib/databases/servers.db